@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
}
.user_enter_wrap {
  position: relative;
}
.typing_wrap {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 20px 13px 16px 5px;
  background-color: #ededed;

  &.disabled {
    background-color: #ededed;
    box-shadow: none;
  }

  .btn_menu {
    flex-shrink: 0;
    width: 40px;
    height: 44px;
    margin-top: auto;
    margin-right: 4px;
    background-color: blueviolet;

    &:disabled {
      background-color: violet;
    }
  }
}

// 사용자 입력창
.chat_input_wrap {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 12px 40px 13px 12px;
  background-color: darkcyan;

  &.disabled {
    background-color: #ccc;
  }
  .chat_input_inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    font-size: 16px;
    line-height: 1.1875;
    font-family: "Noto Sans KR", sans-serif;
  }
  .chat_input {
    z-index: 1;
    position: relative;
    $max_lines: 5;
    flex-grow: 1;
    display: block;
    max-height: 19 * $max_lines * 1px;
    line-height: 1.1875;
    height: 19px;
    color: #fff;
    width: 100%;
    font-weight: 400;
    scrollbar-width: none;
    opacity: 0;
    font-size: inherit;
    font-family: inherit;

    &::-webkit-scrollbar {
      display: none;
    }

    &::placeholder {
      color: #aaa;
      font-size: inherit;
      font-family: inherit;
    }
  }

  .fake_input {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    line-height: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    opacity: 1;
    background-color: transparent;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    &.placeholder {
      color: #aaa;
      opacity: 1;
    }
  }
  .chat_input:focus-within {
    opacity: 1;
  }
  .chat_input:focus + .fake_input {
    background-color: #fff;
    opacity: 0;
  }

  .btn_send {
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: blue;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: olivedrab;
    }
  }
}
